#homebt{
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
}

.grid {
  padding-left: 150px;
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}